body, select {
  font-size: 25px;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#animations {
  text-align: center;
}